<div ><br>
		<pre id='texto_exp'>
Estamos comenzando a desarrollar un blog de la asignatura SWCM. Para ello utilizaremos como entorno de programación node.js así como el framework 
Express que nos facilitará el desarrollo de la aplicación. Además, usaremos como motor de vistas y sesiones EJS basándonos en el patrón 
Modelo-Vista-Controlador.

A continuación verás un breve vídeo en el que te presentamos la página:</pre>

		<video controls id="expl">
			<source src="explicacion.mp4" type="video/mp4"> 
			<source src="explicacion.webm" type="video/webm">
			<source src="explicacion.ogg" type="video/ogg">
			<source src="explicacion.ogg" type="video/ogv">
			<source src="explicacion.ogg" type="video/ogm">
		</video>
		<p>
</div>
  