body {
  
  	padding: 20px;
  	color:#0C7BA1;
  	font-weight: bold;
 	font-family: "palatino linotype",palatino,serif;
 	font-size: 16px;
 	background-image: url("/images/bg.jpg");
}

a {
 color:#2459D5;
  font-weight: bold;
}

#expl {
width: 40%; height: 40%; 
}

#derecha{
	 float:right;
    clear:both;
}
#texto_exp {

  color:#0C7BA1;
  font-weight: bold;
  font-family: "palatino linotype",palatino,serif;
  font-size: 16px;
}

article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
}